[Unit]
Description=Watch a file extension into a directory to move it into another one

[Service]
# start the server file (file is relative to WorkingDirectory here)
ExecStart=/usr/bin/watchtor <mySrcPath> <myDstPath> <myExtention>

# if process crashes, always try to restart
Restart=on-failure


[Install]
# start node at multi user system level (= sysVinit runlevel 3) 
WantedBy=multi-user.target